* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #151515;
  color: #c7c7c7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 95%;
  max-width: 1000px;
  background-color: #1b1b1b;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.text {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
}

.buttons {
  text-align: center;
  margin-bottom: 20px;
}

.btn {
  background-color: #339933;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.subscription-form {
  margin-bottom: 30px;
}

.subscription-form .form-group {
  margin-bottom: 10px;
}

.subscription-form .form-group label {
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
}

.subscription-form .form-group input,
.subscription-form .form-group select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #333;
}

.subscription-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto; /* Ensure columns resize to fit the content */
}

.subscription-table th, 
.subscription-table td {
  border: 1px solid #444;
  padding: 8px;
  text-align: center;
  font-size: 14px; /* Reduced font size */
}

.subscription-table th {
  background-color: #333;
}

.subscription-table td {
  background-color: #222;
}

.submit-subscription {
  background-color: #4CAF50;
  padding: 8px 15px;
  color: white;
  border: none;
  cursor: pointer;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .text {
    font-size: 24px;
  }

  .subscription-table th, 
  .subscription-table td {
    padding: 5px;
    font-size: 12px;
  }

  .btn, .submit-subscription {
    padding: 8px 15px;
    font-size: 14px;
  }

  .subscription-form .form-group input,
  .subscription-form .form-group select {
    padding: 6px;
  }
}
