* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #151515;
  color: #c7c7c7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 20px;
}

.container {
  width: 90%;
  max-width: 1000px;
  background-color: #1b1b1b;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.header {
  text-align: center;
}

.text {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 30px;
  color: #ffffff;
}

.buttons {
  text-align: center;
  margin-bottom: 25px;
}

.btn {
  background-color: #339933;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

.btn:hover {
  background-color: #267c27;
}

/* Form Styling */
.package-form {
  margin: 20px 0;
  padding: 25px;
  background-color: #2b2b2b;
  border-radius: 8px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  color: #ddd;
  margin-bottom: 8px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #444;
  color: #fff;
}

/* Submit Button */
.submit-package {
  background-color: #339933;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

.submit-package:hover {
  background-color: #267c27;
}

/* Table Styling */
.package-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.package-table th, .package-table td {
  border: 1px solid #444;
  padding: 20px;
  text-align: left;
  color: #c7c7c7;
}

.package-table th {
  background-color: #2b2b2b;
}

.package-table td {
  background-color: #1b1b1b;
}

.package-table tr:hover {
  background-color: #333333;
}

.package-table input {
  background-color: #2b2b2b;
  border: none;
  color: #fff;
  padding : 10px;
  padding-right : 0;
  width : 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    padding: 20px;
  }

  .package-table th, .package-table td {
    padding: 10px;
  }

  .form-group input {
    padding: 8px;
  }
}
